.pdfPage {
  min-height: 60vh;
  width: 100%;
}

.comingSoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  text-align: center;
}

.comingSoon h2 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin: 0 0 1rem 0;
}

.comingSoon p {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  color: #666;
  margin: 0;
}

