.promoVideo {
  flex: 1.3;
  min-width: 50%;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: block;
  user-select: none;
  border: none;
  pointer-events: none;
}

/* Responsive design */
@media (max-width: 1024px) {
  .promoVideo {
    max-width: 700px;
    width: 100%;
    min-width: auto;
    flex: 1;
  }
}

@media (max-width: 768px) {
  .promoVideo {
    border-radius: 12px;
    max-width: 90%;
    margin: 0 auto;
  }

}

@media (max-width: 480px) {
  .promoVideo {
    border-radius: 10px;
    max-width: 95%;
    margin: 0 auto;
  }
}

